example_unified_data/negative_sample/all_captions.txt filter=lfs diff=lfs merge=lfs -text
LAVIS/coco-caption/annotations/captions_val2014.json filter=lfs diff=lfs merge=lfs -text
LAVIS/coco-caption/annotations/caption_flickr30k.json filter=lfs diff=lfs merge=lfs -text