# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*$py.class
*.sage.py

# Special and Backup files
*.bak
*.log
*.tsv
*.gz
*.zip
*.dat
*.dir
*.html
*.mp4
*.MP4
*.png
*.pt
*.bin
*.mo
*.pot
*.manifest
*.spec
*.egg
*.so
checkpoint
LICENSE

# Editor and IDE configurations
.vscode/
.spyderproject
.spyproject
.ropeproject

# Packaging and Distribution
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
wheels/
parts/
share/python-wheels/
.installed.cfg
MANIFEST

# Unit Test and Coverage
.coverage*
.cache
*.cover
*.py,cover
.htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
cover/
mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
*/__pycache__/**
*/.pytest_cache/**
*/.mypy_cache/**
*/.cache/**
*/.coverage.*
*/.c

# Environments and Dependencies
.env
.venv
.env.bak/
.venv.bak/
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
Pipfile.lock
poetry.lock
__pypackages__/

# Web Frameworks
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
.site
celerybeat-schedule
celerybeat.pid

# Documentation and Notebooks
docs/_build/
.ipynb_checkpoints
profile_default/
ipython_config.py

# Project specific
output/
debug*/
wandb/
archived/
amlt/
scripts/
nginx/
logs/
ofa_compress/
train_*.sh
gpt_playground/
data/
azure/
.deepspeed_env
checkpoints/
pipeline/serve/examples/
mimic-it/syphus/annotations/**
tools/
otter9B-mpt7b-0705/
tokenizer_checklist.chk
tokenizer.model
download.sh
USE_POLICY.md

# Miscellaneous
*.pyc
open_flamingo.egg-info
llama-7b-hf/*
cache/
*.code-workspace
pipeline/benchmarks/ckpts/*
pipeline/benchmarks/models/Ask_Anything
pipeline/benchmarks/models/FrozenBiLM
pipeline/benchmarks/models/LLaMA_Adapter

shared_scripts/gcp_instance/**
shared_scripts/shai_instance/**
pipeline/benchmarks/models/Video_ChatGPT
pipeline/benchmarks/models/LLaVA
pipeline/benchmarks/models/llava
pipeline/benchmarks/evaluation_result
pipeline/serve/user_logs
config.yaml

azure_storage/
checkpoints/
*.ttf