braceexpand==0.1.7
einops==0.6.1
einops_exts==0.0.4
fastapi==0.95.2
gradio==3.33.1
horovod==0.27.0
huggingface_hub==0.14.0
importlib_metadata==6.6.0
inflection==0.5.1
markdown2==2.4.8
Requests==2.31.0
tqdm==4.65.0
uvicorn==0.22.0
natsort==8.4.0
