transformers=4.28.1
torch==2.0.0
torchvision==0.15.0
mlflow
braceexpand
bitsandbytes
deepspeed
pillow
more-itertools
datasets
wandb
nltk
scipy
inflection
contexttimer
decord
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opencv-python
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
tqdm
wheel
einops
webdataset